Correlation/All Rainfall.csv
Correlation/Not Rainfall Correlation Table.csv
Correlation/Rainfall Correlation Table.csv
Correlation/Rainfall Correlation.docx
Correlation/correlation graphs.py
Correlation/testing.py
Correlation/testing.ipynb
Correlation/Covariance Matrix.csv
Correlation/Normalized Covariance Matrix.csv
Correlation/test.xlsx
testing.ipynb
Interpolation/testing.ipynb
Interpolation/testing.py
Interpolation/seasonality.ipynb
Interpolation/groundwater testing lstm.ipynb
Interpolation/groundwater testing arima.ipynb
Interpolation/test.csv
Interpolation/Validated Features.csv
Interpolation/Filtered Validated Features.csv
Interpolation/linear line test.csv
Interpolation/predicted groundwater test.csv
Interpolation/predicted groundwater.csv
Interpolation/predicted forest.csv